// ==================================
// Foundation
// ==================================
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "foundation/variables";
@import "foundation/mixin";
@import "foundation/_reset";
@import "foundation/_base";

// ==================================
// Layout
// ==================================
@import "layout/blog";
@import "layout/header";
@import "layout/region";
@import "layout/sidebar";
@import "layout/footer";
@import "layout/blogList";
@import "layout/sale";
@import "layout/search";
#l-shopList {
    padding: 0 0 80px 0;
}
#l-pagination {
    padding: 30px 0 0 0;
}
#l-article {
    padding: 0 0 10px 0;
}
#l-explain {
    padding: $space_3l 0;
}
#l-shop {
    padding: 80px 0;
}
#l-main {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    @include mq(lg) {
        display: block;
    }
    @include mq(sm) {
        padding-top: 20px;
    }
}
// ==================================
// Object
// ==================================
// Component
// ----------------------------------
@import "object/component/footer";
@import "object/component/header";
@import "object/component/_main";
@import "object/component/_container";
@import "object/component/submission";
@import "object/component/sidebar";
@import "object/component/card";
@import "object/component/pagination";
@import "object/component/form";
@import "object/component/pankuzu";
@import "object/component/dropProduct";

// Project
// ----------------------------------
@import "object/project/region";
@import "object/project/article";
@import "object/project/search";
@import "object/project/shopList";
@import "object/project/product";
@import "object/project/explain";
@import "object/project/shopBlog";
@import "object/project/comment";
@import "object/project/tokenRecieve";
@import "object/project/flash";
// Utility
// ----------------------------------
@import "object/utility/upArrow";
@import "object/utility/flex";
@import "object/utility/bgColor";
@import "object/utility/btn";
@import "object/utility/heading";
@import "object/utility/padding";
@import "object/utility/margin";
@import "object/utility/font";
.u-display-none {
    display: none;
}
.u-err-msg {
    color: $color_err;
}
.u-err-input {
    background: $bg_err;
    border: 2px solid $color_err;
}
.u-tag {
    &-accent {
        color: $color_accent2;
        border: 1px solid $color_accent2;
    }
    &-sub {
        color: $bg_color;
        border: 1px solid $bg_color;
    }
}
.u-text {
    &--right {
        text-align: right;
    }
}
